node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
build/
dist/
coverage/
.env
.env.*
.DS_Store
Thumbs.db
backend/*.db
backend/**/*.db
logs/
*.log
.vscode/
.idea/
*.iml
*.cache
.tmp/
.next/
.vercel/
README*
